.card{
  padding: 5%;
  margin: 5%;
  min-width: 100px;
}

.card1{
  margin: auto;
}

.form{
  padding-bottom: 5%;
}

.link{
  text-decoration: none;
}

body{
  background-color: rgb(236, 236, 236);
}

.header{
  padding: 20px;
}


@media only screen and (max-width: 500px) {
  .grid{
    width: 100%;
  }
}